@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?vhryx6');
  src: url('../fonts/icomoon.eot?vhryx6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vhryx6') format('truetype'), url('../fonts/icomoon.woff?vhryx6') format('woff'),
    url('../fonts/icomoon.svg?vhryx6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: '\e901';
}
.icon-lupa:before {
  content: '\e902';
}
.icon-arrow-right:before {
  content: '\e900';
}
li {
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.cnt-wrapper {
  overflow: hidden;
}
button:focus,
select:focus,
input:focus,
textarea:focus {
  outline: none;
}
body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  background-color: #fafafa;
}
button {
  border: none;
  background: none;
  padding: 0;
}
.content {
  max-width: 1280px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: auto;
  color: #363636;
  text-align: left;
  font-size: 14px;
}
.flex {
  display: flex;
  flex-flow: row wrap;
}
.content-main {
  max-width: 1024px;
  margin: auto;
}
