@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?uhdw9y');
  src: url('fonts/icomoon.eot?uhdw9y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?uhdw9y') format('truetype'), url('fonts/icomoon.woff?uhdw9y') format('woff'),
    url('fonts/icomoon.svg?uhdw9y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right1:before {
  content: '\e903';
}
.icon-ubication:before {
  content: '\e904';
}
.icon-bluesource:before {
  content: '\e905';
}
.icon-calendar:before {
  content: '\e906';
}
.icon-check:before {
  content: '\e907';
}
.icon-coins:before {
  content: '\e908';
}
.icon-icon-eye:before {
  content: '\e909';
}
.icon-info:before {
  content: '\e90a';
}
.icon-land:before {
  content: '\e90b';
}
.icon-tone:before {
  content: '\e90c';
}
.icon-arrow-down-white:before {
  content: '\e90d';
}
.icon-arrow-head:before {
  content: '\e90e';
}
.icon-arrow-next:before {
  content: '\e90f';
}
.icon-arrow-prev:before {
  content: '\e910';
}
.icon-arrow-thin-right:before {
  content: '\e911';
}
.icon-carbon-credits:before {
  content: '\e912';
}
.icon-checked:before {
  content: '\e913';
}
.icon-close-big:before {
  content: '\e914';
}
.icon-close-box:before {
  content: '\e915';
}
.icon-arrow-down:before {
  content: '\e901';
}
.icon-lupa:before {
  content: '\e902';
}
.icon-arrow-right:before {
  content: '\e900';
}
